* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.nav-bar {
    padding: 15px;
    display: flex;
    justify-content: space-around;
    background: yellow;
    transition: ease all 850ms;
    width: 100%;
    z-index: 100;
}

.nav-bar a img {
    width: 130px;
    height: 130px;
}

.nav-bar-lista {
    font-size: 1.6rem;
    list-style: none;               
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.nav-bar-lista li a {
    text-decoration: none;
    color: black;
}

.nav-bar-lista .color {
    color: blueviolet;
}

/* CSS SCROLLING */


nav.down {
    padding: 5px;
    transition: ease all 850ms;
    position: fixed;
    top: 0;
}

nav.down a img {
    width: 80px;
    height: 80px;
}





